{% if order.payments.last.method.gatewayConfig.config[constant('BitBag\\SyliusAdyenPlugin\\Provider\\AdyenClientProvider::FACTORY_NAME')] is not defined %}
    <button type="submit" class="ui huge primary fluid icon labeled button" {{ sylius_test_html_attribute('confirmation-button') }}>
        <i class="check icon"></i> {{ 'sylius.ui.place_order'|trans }}
    </button>
{% else %}
    {% include '@BitBagSyliusAdyenPlugin/Shop/_dropin.html.twig' %}
{% endif %}