parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'
        - 'src/DependencyInjection/BitBagSyliusAdyenExtension.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'
        - 'tests/Application/node_modules'
        - 'vendor'

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        - '/Parameter \$record of method BitBag\\SyliusAdyenPlugin\\Logging\\Monolog\\DoctrineHandler::write\(\) has invalid typehint type Monolog\\Handler\\FormattedRecord\./'
