body .dropin-container .adyen-checkout__threeds2__challenge,
body .dropin-container .adyen-checkout__threeds2__challenge iframe
{
    width: 100%;
}

.adyen-method-grid {
    display: flex;
    flex-wrap: wrap;
}

.adyen-method-grid button[type=submit]
{
    border: 2px solid rgba(34, 36, 38, 0.15);
    background: transparent;
    padding: 0.2em;
    margin: 0.5em;
    cursor: pointer;
}
.adyen-method-grid button[type=submit]:hover
{
    border-color: #AAAAAA;
}

.adyen-method-grid button[type=submit] img
{
    display: block;
}

.adyen-method .dropin-container
{
    margin: 1.5rem 0;
}

#next-step.adyen, #sylius-pay-link.adyen{
    display: none;
}