<script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.5.0/adyen.js"
        integrity="sha384-Co94gRjtPsf3110lIIB8CaogV5Khwg8lcSh4fK5r1gzfWZHxaqpBXwEFjaFGcLaj"
        crossorigin="anonymous"></script>

<script src="{{ asset('/bundles/bitbagsyliusadyenplugin/js/dropin.js') }}"></script>

<link rel="stylesheet"
      href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/4.5.0/adyen.css"
      integrity="sha384-8EGo5meqBqlQ4MFf3nbQYD/onCuTfclYfNl3a5uQ1swwv0XXcTkda75dvjlYbZI8"
      crossorigin="anonymous">

<link rel="stylesheet"
      href="{{ asset('/bundles/bitbagsyliusadyenplugin/css/adyen.css') }}">

{% set dropin_configuration = {
    billingAddress: {
        firstName: order.billingAddress.firstName,
        lastName: order.billingAddress.lastName,
        countryCode: order.billingAddress.countryCode,
        province: order.billingAddress.provinceName ?? order.billingAddress.provinceCode,
        city: order.billingAddress.city,
        postcode: order.billingAddress.postcode
    },
    paymentMethods: adyen_payment_methods(order),
    clientKey: payment_configuration['clientKey'],
    locale: order.localeCode,
    environment: payment_configuration['environment'],
    path: {
        payments: path('bitbag_adyen_payments'),
        paymentDetails: path('bitbag_adyen_payment_details')
    }
} %}

<div
    id="dropin-container"
    data-dropin="{{ dropin_configuration|json_encode }}"
></div>

