{% set path_params = order.tokenValue ? {tokenValue: order.tokenValue} : {} %}

{% set dropin_configuration = {
    billingAddress: {
        firstName: order.billingAddress.firstName,
        lastName: order.billingAddress.lastName,
        countryCode: order.billingAddress.countryCode,
        province: order.billingAddress.provinceName ?? order.billingAddress.provinceCode,
        city: order.billingAddress.city,
        postcode: order.billingAddress.postcode
    },
    paymentMethods: payment_configuration['paymentMethods'],
    clientKey: payment_configuration['clientKey'],
    locale: order.localeCode,
    environment: payment_configuration['environment'],
    path: {
        payments: path('bitbag_adyen_payments', path_params),
        paymentDetails: path('bitbag_adyen_payment_details', path_params),
        thankYou: path('bitbag_adyen_thank_you', {code: method.code})
    }
} %}

<div
    class="dropin-container"
    data-dropin="{{ dropin_configuration|json_encode }}"
></div>

